#titulo {
    margin-top: 5px;
    text-align: center;
    color: #fff;
}

h3 {
    color: #fff;
}

.label {
    margin-top: 10px;
    color: #fff;
}

.labelDescricao {
    color: #fff;
}

.labelMenor {
    color: #fff;
}